* {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.link-done {
  color: #90f54d;
}

.link-in-work {
  color: #ffcb0e;
}

.link-disabled {
  color: #5f5f5f;
  cursor: not-allowed;
}

.labs li + li {
  margin-top: 1rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.rounded {
  border-radius: 0.25rem;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #f2f3f3;
}

*,
::after,
::before {
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
